* {
    box-sizing: border-box;
}
.register-container {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    margin: 16px 32px;
}

.form-container {
    width: 100%;
}
.separator{
    width: 50px;
}
.small-separator {
    width: 10px;
}
.form-input {
    font-size: 18px;
    border: #bdc7d8 solid 1px;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 10px  0px;
    width: 100%;
    
}


.form-input:focus{
    border: #bdc7d8 solid 3px;
    border-radius: 5px;

}

.form-input-name {
    width: 50%;
}
.form-input-name-block {
    display: inline-flex;
    width: 100%;
}
.date-text {
    color: gray;
    margin: 10px 0px 5px 0px;
    font-size: 16px;
    font-weight: bold;
}

.date-input {
    border: gray solid 2px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 4px;
    padding: 5px;
}
.date-input:hover {
    cursor: pointer;
}
.date-input:focus{
    border: #bdc7d8 solid 3px;
    border-radius: 5px;

}
.gender-text {
    color: gray;
    margin: 10px 0px 5px 0px;
    font-size: 16px;
    font-weight: bold;
}
.radio-container {
    display: inline-block;
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 4px;
    padding: 0;
}

.signup-button {
    background-color: #029e74;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    width: 70%;
    margin-top: 16px;
}
.signup-button:hover {
    cursor: pointer;
    background: #03a87c;
    background-color: #03a87c;
}
.signup-button:active{
    margin-top: 20px;
}